:root {
  --bs-black: #000;
  --bs-grey-2: #444;
  --bs-grey-4: #222;
  --bs-grey-5: #333;
  --bs-light-green: #eaf0dc;
  --bs-link-color: #005999;
  --bs-link-hover-color: #003e6b;
  --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}